In [8]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [9]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Torbay,47.6666,-52.7314,33.39,82,100,11.01,CA,2022-02-14 01:43:30
1,1,Adre,13.4667,22.2000,66.90,14,100,15.59,TD,2022-02-14 01:43:30
2,2,Panguna,-6.3164,155.4848,80.02,69,100,3.65,PG,2022-02-14 01:43:31
3,3,Thompson,55.7435,-97.8558,-18.24,76,0,2.30,CA,2022-02-14 01:43:31
4,4,Cape Town,-33.9258,18.4232,69.12,79,20,23.02,ZA,2022-02-14 01:40:20

In [10]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [11]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [12]:
# Get the max teperature.
max_temp =  city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [17]:
# Heatmap of temperature.
# Get the latitude and longitude.
locations=city_data_df[["Lat","Lng"]]


#Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

#Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

#Add the heatmap layer.
fig.add_layer(heat_layer)

#Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [22]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
2,2,Panguna,-6.3164,155.4848,80.02,69,100,3.65,PG,2022-02-14 01:43:31
8,8,Bambous Virieux,-20.3428,57.7575,80.22,94,75,9.22,MU,2022-02-14 01:38:49
9,9,Anloga,5.7947,0.8973,82.62,81,100,13.11,GH,2022-02-14 01:43:35
13,13,Busselton,-33.6500,115.3333,79.05,46,0,9.48,AU,2022-02-14 01:43:37
19,19,Mahebourg,-20.4081,57.7000,80.26,94,75,9.22,MU,2022-02-14 01:43:40
28,28,Puerto Ayora,-0.7393,-90.3518,75.54,93,95,3.47,EC,2022-02-14 01:43:45
37,37,Kavieng,-2.5744,150.7967,84.43,70,84,6.33,PG,2022-02-14 01:43:49
46,46,Tautira,-17.7333,-149.1500,87.82,77,75,17.47,PF,2022-02-14 01:42:08
49,49,Rikitea,-23.1203,-134.9692,79.00,70,3,14.58,PF,2022-02-14 01:41:47
50,50,Saint-Philippe,-21.3585,55.7679,78.39,87,38,11.43,RE,2022-02-14 01:44:56

In [23]:
preferred_cities_df.count()

City_ID       127
City          127
Lat           127
Lng           127
Max Temp      127
Humidity      127
Cloudiness    127
Wind Speed    127
Country       127
Date          127
dtype: int64

In [24]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
2           Panguna      PG     80.02  -6.3164  155.4848
8   Bambous Virieux      MU     80.22 -20.3428   57.7575
9            Anloga      GH     82.62   5.7947    0.8973
13        Busselton      AU     79.05 -33.6500  115.3333
19        Mahebourg      MU     80.26 -20.4081   57.7000
28     Puerto Ayora      EC     75.54  -0.7393  -90.3518
37          Kavieng      PG     84.43  -2.5744  150.7967
46          Tautira      PF     87.82 -17.7333 -149.1500
49          Rikitea      PF     79.00 -23.1203 -134.9692
50   Saint-Philippe      RE     78.39 -21.3585   55.7679

In [32]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [37]:
# Set parameters to search for a hotel.
params = {
    "key": g_key,
    "type": "lodging",
    "radius": 5000}

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    # Grab the first hotel from the results and store the name.    
    hotels = requests.get(base_url, params=params).json()
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [38]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Panguna,PG,80.02,-6.3164,155.4848,
8,Bambous Virieux,MU,80.22,-20.3428,57.7575,Casa Tia Villa
9,Anloga,GH,82.62,5.7947,0.8973,Pin Drop Hotel
13,Busselton,AU,79.05,-33.6500,115.3333,Observatory Guest House
19,Mahebourg,MU,80.26,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
28,Puerto Ayora,EC,75.54,-0.7393,-90.3518,Finch Bay Galapagos Hotel
37,Kavieng,PG,84.43,-2.5744,150.7967,Nusa Island Retreat
46,Tautira,PF,87.82,-17.7333,-149.1500,Pension Oaoa
49,Rikitea,PF,79.00,-23.1203,-134.9692,People ThankYou
50,Saint-Philippe,RE,78.39,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""

In [39]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [44]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))